.nav-principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #333;
    padding: 1rem;
    background-color: #579cd4;
}
.links{
    color: #bceef5;
    text-decoration: none;
    transition:color 0.2s ease;
    font-size: 24px;
}
.links:hover{
    color: #61e3f4;
}
.links.active{
    color: #61e3f4;
}
.logo{
    width: 80px;
    height: 80px;
    margin-right: 1rem;
}
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #579cd4;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 0.5rem;
  z-index: 100;
  min-width: 120px;
}