.participante-card {
  padding: 2rem 2.5rem;
  margin: 1rem 2rem;
  border: 1px solid #666;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.p-carousel {
  background: transparent;
}

.p-carousel-content {
  background: transparent;
}

.titulo-rating {
  margin-top: 5px;
  font-size: 2rem;
  margin-bottom: 5px;
  color: #666;
  text-align: center;
}

/* Tablet */
@media (max-width: 900px) {
  .participante-card {
    padding: 1.5rem 1.5rem;
    margin: 1rem 1rem;
  }

  .titulo-rating {
    font-size: 1.7rem;
  }
}

/* Móvil */
@media (max-width: 600px) {
  .participante-card {
    padding: 1.2rem 1rem;
    margin: 0.5rem 0.5rem;
  }

  .titulo-rating {
    font-size: 1.4rem;
    margin-top: 1rem;
  }
}